*.egg-info
*.log
*.pem
*.pyc
.coverage
.devenv*
.env
.idea/
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache/
__pycache__/
_build/
build/
devenv.local.nix
env
fixture/target/
hello-world/
htmlcov/
log.html
logs/
output.xml
output/
report.html
result
results/
src/operaton/__init__.py
