black >= 25.12.0, <26
purjo == git+https://github.com/datakurre/purjo.git@8b27da3d05b6a7367fea02384cf856409310c1da#egg=purjo
robotframework >= 7.3.1, <8
robotframework-robocop >= 7.2.0, <8
rf-mcp >= 0.28.0