black >= 25.1.0 , <26
git+https://github.com/datakurre/purjo.git@e237acad74b91a051cc9a26f9f64e0ee94c5577c#purjo
git+https://github.com/robotframework/robotframework.git@2f42ee808129903f597e3e284f0af4afa0abe8b7#egg=robotframework
robotframework-tidy >= 4.18.0, <5
